python_version >=3.7,<=3.11
fastapi==0.110.0
matplotlib==3.8.3
networkx==2.8.8
numpy==1.26.4
pandas==2.2.1
python-multipart==0.0.9
pydantic==1.10.13
rdkit-pypi==2021.9.4
scikit-learn==1.4.1.post1
shap==0.44.1
lime==0.2.0.1
seaborn==0.13.2
torch==2.2.2
tqdm==4.66.2
uvicorn==0.29.0
mordred==1.2.0
