numpy==1.23.5            # Last patch of 1.23.x
pandas==1.5.3            # Compatible with numpy 1.23.5
matplotlib==3.8.3
networkx==2.8.8
python-multipart==0.0.9
scikit-learn==1.4.1.post1
shap==0.44.1
lime==0.2.0.1
seaborn==0.13.2          # Compatible with numpy 1.23.5
torch==2.5.0
tqdm==4.66.2
mordred==1.2.0           # Compatible with numpy==1.*
fastapi==0.95.0
uvicorn==0.22.0
rdkit==2022.9.5          # Works with numpy 1.23.5
pydantic==1.10.5

